.container{
	display:grid;
	grid-template-rows: repeat(20,15px);
	grid-template-columns: repeat(40,15px);
    gap:3px;
    justify-content: center;
    align-content: center;
	border:40px solid black;
	width:700px;
	background:black;

}
.square{
background-color:rgb(29, 29, 29);
transition: all 0.5s ease-in-out;
transition-delay: 1s;
	force: true
}

.square:hover{
    background-color: green;
	transition:none;
	transition-delay:0s;
}